*{
    box-sizing: border-box;
}

body {
    font-family: "Tahoma", sans-serif;
    background-color: rgba(49, 191, 87, 0.262);
    margin-left: 75px;
}

.recipe-title{
    text-align: center;
    font-size: 60px;
}

.recipe-link{
    font-size: 48px;
    margin: 8px auto;
}

h1{
    font-size: 128px;
}